{% block title %}Guinit immobilier!
{% endblock %}

{% block body %}


	<div class="example-wrapper">
		<h1>Hello dsdd ! ✅</h1>

		{% if age > 18 %}

			<p>tu es majeur</p>

		{% else %}

			<p>tu es mineur</p>

		{% endif %}

		<ul>
			<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis optio quam temporibus deleniti eum, quasi soluta dicta cum deserunt ducimus? 
				        Possimus voluptatum voluptatem ab sapiente accusantium dolore laborum. Ab, perferendis.Asperiores, rerum minus? Quasi eum porro iure error earum officiis modi cumque! 
				        Numquam veniam quae cumque tenetur autem, eum dolor! Laboriosam magni iure voluptatibus voluptas aut tempore tempora adipisci doloremque!</li>
			<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt vitae culpa assumenda neque provident aut sapiente voluptatem, totam odio hic vero tempore quod nobis aperiam ex eligendi facere
			</li>
			<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nesciunt vitae culpa assumenda neque provident aut sapiente voluptatem, totam odio hic vero tempore quod nobis aperiam ex eligendi facere
			</li>

		</ul>
	</div>
{% endblock %}
