{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier{% endblock %}

{% block body %}
    <div class = "jumbotron">
        <br> GUINOT IMMOBILIER:</br>
        <br> ACCESS LOCATION & VENTE D'APPARTEMENTS</br>
    </div>


<div class="container">

{# Liste de ce que j'aimerai afficher#}
<div class = "row">
        <div class="col-6">
          <resume>
               {# Faisant une interpollation#}
               <h5>categorie / {{ annonce.title }}</h5>
               <p> Date de publication: {{ annonce.createAt | date('d/m/Y')}}</p>
               <div class = "content">
                    <img src="{{ annonce.image}}" alt=""  align="left">
                    <p align="justify"> {{ annonce.content | raw}}   </p> 
               </div>          
          </resume>
          <hr> </hr>
  
</div>




{% endblock %}