{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier{% endblock %}

{% block body %}


    <div class = "jumbotron">

        <h1> LES APPARTEMENT A LOUER OU A VENDRE</h1>
    </div>

<div class="container">


{% endblock %}
