{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier
{% endblock %}

{% block body %}


	<div class="alert alert-danger">
	<h1>Guinot immobilier</h1>
	<span>location et ventes immobilières</span>
	</div>


	<article>
		<h2>{{title}}</h2>
		<div class="metadata">Ecrit le 10/08/18 a 19h00</div>
		<div class="content">
			<img src="" alt="">
			<p>Dolorem aliquid quidem quod eius aut, eaque enim odio eligendi nisi maiores nulla consectetur mollitia!</p>
			<p>Commodi, aut omnis aspernatur quidem hic sequi autem animi eos, velit, minus sit corporis optio.</p>
			<a href="" class="btn btn-primary">Lire la suite</a>
		</div>
	</article>


{% endblock %}
